.button {
    border: none;
    background-color: $blue;
    display: inline-block;
    font-weight: 300;
    color: white;
    font-size: $font-size-medium;
    padding: $sm-size;
    line-height: 1;
}

.button--link {
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.button--no-background {
    background: none;
}

.button--secondary {
    background-color: #888888;
}

.button--list-item {
    border-right: 1px solid darken($slight-grey, 7%);
    border-bottom: 1px solid darken($slight-grey, 7%);
}
